/* 🐹
   ========================================================================== */
.🐹 {
    padding: 44px;
    background: aliceblue;
    color: #444;
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-size: 44px;
}

.🐹::after {
    content: "Take care of the sense, and the sounds will take care of themselves."
}

.flickr-gallery {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 0;
}

/* Gallery Containers
   ========================================================================== */
.responsive {
    --margin-compensation: 6px;
    display: inline-block;
    position: relative;
    background-size: cover;
    background-position: 50%;
    margin: 3px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    width: calc(12.5% - 6px);   /* Fallback for IE compatibility, remove in future */
    width: calc(12.5% - var(--margin-compensation));
}

.responsive:hover, .responsive:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.responsive::after {
    content: '';
    display: block;
    margin-top: 100%;
}

.responsive:hover .grid-title, .responsive:hover .photographer,
.responsive:focus .grid-title, .responsive:focus .photographer,
.photographer:focus {
    opacity: 1;
}

.photographer:hover, .photographer:focus {
    text-decoration: underline;
    outline: none;
}

.grid-title, .photographer {
    --grid-padding: 12px;
    --grid-width: calc(100% - 2 * --grid-padding);
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 12px;         /* Fallback for IE compatibility, remove in future */
    padding-left: var(--grid-padding);
    padding-right: 12px;        /* Fallback for IE compatibility, remove in future */
    padding-right: var(--grid-padding);
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    width: calc(100% - 24px);   /* Fallback for IE compatibility, remove in future */
    width: calc(100% - 2 * var(--grid-padding));
}

.grid-title {
    font-weight: bold;
    top: 0;
    left: 0;
    padding-top: 8px;
    padding-bottom: 24px;
    background: linear-gradient(rgba(0, 0, 0, 0.7) 28px, rgba(0, 0, 0, 0));
}

.photographer {
    font-size: 12px;
    bottom: 0;
    right: 0;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 6px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 24px, rgba(0, 0, 0, 0));
    text-decoration: none;
}

/* Fullscreen Content
   ========================================================================== */
#fullscreen-container {
    display: none;
    position: fixed;
    z-index: 1;                 /* Render on top of gallery */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    font-size: 16px;
    text-align: center;         /* Centers the content */
}

#fullscreen-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-bottom: 0;
    padding: 0;
    max-width: 1200px;
    display: inline-block;      /* Shrink to content */
}

#display-image {
    max-width: 100%;
    max-height: calc(80vh - 100px);
    display: block;             /* For correct height calculation */
}

#close {
    color: white;
    position: absolute;
    top: 34px;
    right: 25px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}

#close:hover, #close:focus {
    color: #999;
    text-decoration: none;
    outline: none;
}

#previous, #next {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 30px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
}

#previous {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0));
}
#next {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0));
}

#previous span, #next span {
    position: relative;
    opacity: 1;
    top: calc(50% - 10px);
}

#previous span {
    left: -16px;
}

#next span {
    right: -16px;
}

#previous:hover, #next:hover,
#previous:focus, #next:focus {
    opacity: 1;
    outline: none;
}

#fullscreen-title-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

/* Slow Loading Modal
   ========================================================================== */
#slow-load {
    position: fixed;
    z-index: 2;
    padding-top: 30%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#slow-load-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #777;
    width: 60%;
    text-align: center;
    font-size: 16px;
}

#slow-load-close {
    position: relative;
    float: right;
    color: #777;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Error Screen
   ========================================================================== */
#error-header, #error-message {
    text-align: center;
}

#error-header {
    font-size: 72px;
}

#error-message {
    font-size: 24px;
}

/* Media Queries
   ========================================================================== */

@media only screen and (max-width: 1919px) and (min-width: 1440px) {
    .responsive {
        width: calc(16.66% - 6px);  /* Fallback for IE compatibility, remove in future */
        width: calc(16.66% - var(--margin-compensation));
    }
}

@media only screen and (max-width: 1439px) and (min-width: 960px) {
    .responsive {
        width: calc(25% - 6px);     /* Fallback for IE compatibility, remove in future */
        width: calc(25% - var(--margin-compensation));
    }
}

@media only screen and (max-width: 959px) and (min-width: 720px) {
    .responsive {
        width: calc(33.33% - 6px);  /* Fallback for IE compatibility, remove in future */
        width: calc(33.33% - var(--margin-compensation));
    }
}

@media only screen and (max-width: 719px) and (min-width: 480px) {
    .responsive {
        width: calc(50% - 6px);     /* Fallback for IE compatibility, remove in future */
        width: calc(50% - var(--margin-compensation));
    }
}

@media only screen and (max-width: 479px) and (min-width: 0px) {
    .responsive {
        width: calc(100% - 6px);    /* Fallback for IE compatibility, remove in future */
        width: calc(100% - var(--margin-compensation));
    }
}

/*  Common smartphone CSS resolutions:
    Full HD no scaling, iPad, HD no scaling, Google Pixel etc., iPhone, Full HD w/ CSS scaling 3 */
@media only screen and
    (orientation: portrait) and
    (device-width: 1080px), (device-width: 768px), (device-width: 720px),
    (device-width: 411px), (device-width: 375px), (device-width: 360px) {
    .responsive {
        width: calc(50% - 6px);     /* Fallback for IE compatibility, remove in future */
        width: calc(50% - var(--margin-compensation));
    }

    .grid-title {
        font-size: 32px;
        padding-bottom: 32px;
        background: linear-gradient(rgba(0, 0, 0, 0.7) 44px, rgba(0, 0, 0, 0));
    }

    .photographer {
        font-size: 24px;
        padding-top: 32px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 40px, rgba(0, 0, 0, 0));
    }

    #fullscreen-container {
        padding-top: 136px;
    }

    #close {
        color: white;
        position: absolute;
        top: 32px;
        right: 32px;
        font-size: 72px;
        font-weight: bold;
    }

    #fullscreen-title {
        font-size: 48px;
    }

    #previous, #next {
        width: 60px;
        padding: 16px;
        font-size: 60px;
        opacity: 1;
    }

    #previous span, #next span {
        top: calc(50% - 30px);
    }

    #slow-load-content, #slow-load-close {
        font-size: 64px;
    }
}